@font-face {
  font-family: OpenSans-Bold;
  src: url("../fonts/OpenSans-Bold.woff");
}

@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans-Regular.woff");
}

* {
  padding: 0;
  margin: 0;
  
  box-sizing: border-box;
}

header {
  position: relative;
  
  padding-bottom: 150px;
  
  background: url("../images/banner-bg.jpg") center top no-repeat;
  background-size: cover;
}

header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  
  background: rgb(0, 0, 0, 0.6);
}

.container {
  position: relative;
  z-index: 3;
  
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  color: #ffffff;
}

.header-menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 180px;
  margin-left: 10px;
  margin-top: 28px;
}

.menu {
  font-family: OpenSans-Regular;
  
  margin-top: 45px;
}

.menu-item {
  display: block;
}

.menu-item li {
  display: inline-block;
  margin-right: 26px;
}

.menu-item a {
  color: #ffffff;
  
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

.title {
  color: #ffffff;
  overflow: hidden;
  
  font-family: OpenSans-Bold;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  max-width: 690px;

  margin: 0 auto;
  margin-top: 87px;
}

.trends {
  width: 100%;
  
  margin-top: 65px;
}

.title-trends {
  color: #222222;
  text-align: center;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  font-size: 20px;
  
}

.title-trends:after {
  content: "";
  display: block;
  width: 64px;
  padding-bottom: 14px;
  margin: auto;
  
  border-bottom : 4px solid #e1d9bd;
  font-weight: normal;
}

.title-trends a {
  color: #0f0d0e;
  
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.trend {
  display: flex;
  justify-content: space-between;
  position: relative;

  padding-top: 30px;
  padding-bottom: 64px;
}

.trend1 {
  width: 24.8%;
  height: 320px;

  background: url("../images/trend1.jpg") no-repeat center center;
  background-size: cover;

  position:relative;
}

.trend1:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  
  background: rgb(0, 0, 0, 0.5);
}

.trend2 {
  width: 24.8%;
  height: 320px;

  background: url("../images/trend2.jpg") no-repeat center center;
  background-size: cover;

  position:relative;
}

.trend2:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  
  background: rgb(0, 0, 0, 0.5);
}

.trend3 {
  width: 24.8%;
  height: 320px;

  background: url("../images/trend3.jpg") no-repeat center center;
  background-size: cover;

  position:relative;
}

.trend3:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  
  background: rgb(0, 0, 0, 0.5);
}

.trend4 {
  width: 24.8%;
  height: 320px;

  background: url("../images/trend4.jpg") no-repeat center center;
  background-size: cover;
  
  position:relative;
}

.trend4:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  
  background: rgb(0, 0, 0, 0.5);
}

.inside-trend {
  border: 4px solid #b59f5b;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  margin-bottom: 17px;
  margin-left: 24px;
  margin-right: 24px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 38px;
  z-index: 2;
}

.link-trend {
  font-family: OpenSans-Bold;
  
  color: #d3c59d;
  
  display: inline-block;
  padding: 0;
  margin: 0;
}

.link-trend li {
  float: left;
  display: block;
  margin-right: 20px;
}

.link-trend a {
  color: #d3c59d;
  
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.frame-trend {
  font-size: 20px;
  font-family: OpenSans-Bold;
  
  padding-top: 14px;
}

.frame-trend a {
  color: #ffffff;
  
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.content {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.post {
  flex: 1;
}

.post-list {
  display: flex;
  flex-direction: row;
}

.post-list:nth-child(1n+2) {
  margin-top: 60px;
}

.post-img {
  max-width: 380px;
}

.thumb {
  width: 100%;
}

.post-info {
  color: #0f0d0e;
  
  width: 363px;
  margin-left: 30px;
}

.link-item {
  font-family: OpenSans-Bold;
  
  color: #d3c59d;
  
  display: inline-block;
  padding: 0;
  margin: 0;
}

.link-item li {
  float: left;
  display: block;
  margin-right: 20px;
}

.link-item a {
  color: #b59f5b;
  
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.frame-title {
  font-size: 20px;
  font-family: OpenSans-Bold;
  
  padding-top: 10px;
}

.frame-title a {
  color: #0f0d0e;
  
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.date-author {
  font-size: 12px;
  
  padding-top: 25px;
  padding-bottom: 34px;
}

.date {
  color: #989898;
}

.author {
  font-family: OpenSans-Bold;
  
  padding-left: 15px;
}

.text {
  font-family: OpenSans-Regular;
  font-size: 15px;
}

.text1 {
  font-family: OpenSans-Regular;
  font-size: 15px;
  
  padding-top: 15px;
}

.side-bar {
  width: 275px;
  margin-left: 30px;
}

.latest-posts-title {
  color: #222222;
  
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: OpenSans-Bold;
}

.latest-posts-title::after {
  content: "";
  display: block;
  width: 64px;
  padding-bottom: 14px;
  margin: auto;
  
  border-bottom : 4px solid #e1d9bd;
  font-weight: normal;
}

.latest-posts-title a {
  color: #0f0d0e;
  
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.news-info {
  display: flex;
  flex-direction: row;
}

.news-info:nth-child(1n+2) {
  margin-top: 22px;
}

.news-img {
  width: 70px;
}

.news-item {
  margin-left: 20px;
}

.news-date {
  color: #bfbfbf;
  
  padding-bottom: 5px;
  
  font-size: 12px;
}

.subtitle a {
  color: #0f0d0e;
  
  font-family: OpenSans-Bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.search {
  margin-top: 60px;
  
  display: flex;
  align-items: center;
}

.search-input {
  height: 50px;
  padding-left: 10px;
  
  outline: none;
  font-size: 13px;
  flex: 1;
  
  background-color: #f4f7f6;
  border-style: none;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
} 

.search-btn {
  width: 50px;
  height: 50px;
  
  background-color: #b59f5b;
  border: none;
}

.btn-img {
  width: 20px;
  height: 20px;
}

.page {
  margin-top: 62px;
}

.page-item {
  color: #222222;
  
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: OpenSans-Bold;
}

.page-item::after {
  content: "";
  padding-bottom: 14px;
  margin: auto;
  width: 64px;
  
  display: block;
  border-bottom: 4px solid #e1d9bd;
  font-weight: normal;
}

.page-item a {
  color: #0f0d0e;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.subscription {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.subscription-email {
  height: 50px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  
  outline: none;
  font-size: 13px;
  flex: 1;
  
  background-color: #f4f7f6;
  border-style: none;
}

.submit {
  margin-top: 15px;
  height: 50px;
  overflow-x: hidden;
  
  background-color: #b59f5b;
  border: none;
  color: #ffffff;
  
  font-size: 14px;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
}

.tags-items {
  margin-top: 60px;
}

.tags {
  color: #222222;
  
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: OpenSans-Bold;
}

.tags::after {
  content: "";
  padding-bottom: 14px;
  margin: auto;
  width: 64px;
  
  display: block;
  
  border-bottom: 4px solid #e1d9bd;
  font-weight: normal;
}

.tags a {
  color: #0f0d0e;
  
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.tags-item {
  font-family: OpenSans-Bold;
  
  margin-top: 18px;
  
  display: flex;
  flex-wrap: wrap;
}

.tags-item li {
  float: left;
  display: block;
  
  border: #eeeeee solid 3px;
  
  margin-right: 7px;
  margin-top: 7px;
}

.tags-item a {
  color: #000000;
  
  padding: 9px;
  
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

.categories-items {
  margin-top: 60px;
}

.categories {
  color: #222222;
  
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: OpenSans-Bold;
}

.categories::after {
  content: "";
  padding-bottom: 14px;
  margin: auto;
  width: 64px;
  
  display: block;

  border-bottom: 4px solid #e1d9bd;
  font-weight: normal;
}

.categories a {
  color: #0f0d0e;
  
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.categories-item {
  margin-top: 25px;
  
  font-family: OpenSans-Bold;
  
  display: flex;
  flex-direction: column;
}

.categories-item li {
  float: left;
  display: block;
  
  border-bottom: 1px solid #eeeeee;
  font-weight: normal;
  
  padding-bottom: 14px;
}

.categories-item li:nth-child(1n+2) {
  margin-top: 17px;
}

.categories-item a {
  color: #000000;
  
  text-decoration: none;
  text-transform: none;
  font-size: 14px;
}

.figure {
  vertical-align: top;
  
  font-size: 12px;
  color: #b59f5b;
  
  padding-left: 3px;
}

.social-copyrights {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.articles-socials {
  height: 85px;
  width: 100%;
  padding-top: 32px;
  
  text-align: center;
  
  background-color: #f4f7f6;
}

.shops {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.shops-title {
  color: #222222;
  text-align: center;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  font-size: 20px;
  
}

.shops-title:after {
  content: "";
  display: block;
  width: 64px;
  padding-bottom: 14px;
  margin: auto;
  
  border-bottom : 4px solid #e1d9bd;
  font-weight: normal;
}

.shops-title a {
  color: #0f0d0e;
  
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.shop {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

.shop-item {
  max-width: 300px;
  flex-direction: column;
  margin-right: 70px;
}

.frame-shop {
  position: relative;
  flex-grow: 1;

  max-width: 113%;
  border: 3px solid #b59f5b;
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -40px;
  margin-left: -20px;
  margin-right: -20px;
}

.frame-shop-title {
  color: #222222;
  text-align: start;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  font-size: 17px;
}

.frame-shop-title a {
  color: #0f0d0e;
  
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
}

.frame-shop-text {
  font-family: OpenSans-Regular;
  font-size: 14px;
  padding-top: 10px;
}

.frame-shop-text a {
  color: #b59f5b;
  text-decoration: none;
}

.price-link {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  margin-bottom: 25px;
}

.price {
  display: flex;
  flex-direction: column;
}

.frame-shop-price {
  color: #0f0d0e;
  font-family: OpenSans-Bold;
  font-size: 17px;
  
  text-transform: uppercase;
}

.frame-shop-link {
  width: 140px;
  overflow-x: hidden;
  
  background-color: #b59f5b;
  border: none;
  color: #ffffff;
  
  font-size: 14px;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
}

.frame-shop-links {
  width: 140px;
  height: 50px;
  overflow-x: hidden;
  
  background-color: #b59f5b;
  border: none;
  color: #ffffff;
  
  font-size: 14px;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
}

.socials {
  list-style: none;
  
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.socials-item {
  margin-left: 5px;
  margin-right: 5px;
  
  display: inline-block;
}

.socials-link {
  display: inline-block;
  
  padding: 5px;
  width: 20px;
  height: 20px;
  
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  
  clip: rect(1px,1px,1px,1px);
}

.socials-link-twitter {
  background-image: url("../svg/004-twitter.svg");
}

.socials-link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.socials-link-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.socials-link-instagram {
  background-image: url("../svg/005-instagram.svg");
}

.socials-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright-text {
  margin-top: 74px;
  margin-bottom: 40px;
  
  text-align: center;
  font-size: 12px;
  
  color: #999999;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -33px;
  right: 0;
  
  border: 0;
  
  background: url("../svg/form-x.svg") center center no-repeat;
}

.popup-conteiner {
  position: relative;
  width: 390px;
  background-color: #ffffff;
  
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.popup-title {
  text-align: center;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  font-size: 20px;
  color: #000000;
}

.popup-title:after {
  content: "";
  display: block;
  width: 64px;
  padding-bottom: 10px;
  margin: auto;
  
  border-bottom : 4px solid #e1d9bd;
  font-weight: normal;
}

.select-group {
  font-family: OpenSans-Regular;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  margin-bottom: 27px;
}

.select-label {
  margin-bottom: 8px;
}

.select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  
  padding-left: 20px;
  padding-right: 25px;
  
  margin: 0;
  
  border: none;
  background-color: #f4f7f6;

  color: #a5a7a6;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-size: 10px 18px;
  background-repeat: no-repeat;
  background-position: right 14px center;
}

.popup-radio {
  font-family: OpenSans-Regular;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.radio-title {
  margin-top: 7px;
}

.checkbox-popup {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.radio-group {
  display: inline-block;
}

.checkbox-text {
  margin-left: 5px;
  margin-right: 10px;

  font-family: OpenSans-Regular;
  font-size: 13px;
}

.checkbox-text:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 30px;
  background: url("../svg/form-empty-circle.svg") center center no-repeat;
  background-size: 20px;
  margin-right: 5px;
}

.radio:checked {
  outline: 3px solid #0f0d0e;
  outline-offset: 5px;
}

.radio:checked ~ .checkbox-text:before {
  background-image: url("https://netology-code.github.io/resourses/pics/radio-active.svg");
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.circle {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.radio-circle {
  font-family: OpenSans-Regular;
  font-size: 13px;
  margin-right: 20px;
}

.popup-input {
  font-family: OpenSans-Regular;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

.textarea-text {
  margin-top: 10px;
  height: 130px;
  padding: 20px;
  color: #707171;
  background-color: #f4f7f6;
  border: none;

  font-family: OpenSans-Regular;
  font-size: 13px;
}

.popup-btn {
  text-align: center;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  font-size: 14px;
  color: #ffffff;
  background-color: #b59f5b;
  border: none;
  margin-top: 27px;
  width: 100%;
  height: 50px;
}

@media (max-width: 1200px) {
  .menu {
    display: none;
  }
  
  .header-burger {
    position: relative;
    width: 25px;
    height: 20px;
    display: block;
    top: 40px;
    margin-right: 20px;
  }

  .header-burger span, .header-burger:after, .header-burger:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #ffffff;
    margin: 0 auto;
  }

  .header-burger span {
    top: 20px;
  }

  .header-burger:after, .header-burger:before {
    content: "";
  }

  .header-burger:after {
    bottom: 5px;
  }

  .header-burger:before {
    top: 5px;
  }

}

@media (min-width: 768px) and (max-width: 1200px) {
  header {
    padding-bottom: 120px;
  
    background: url("../images/banner-bg-tablet.jpg") left bottom no-repeat;
    background-size: cover;
  }

  .logo {
    margin-left: 0;
    width: 160px;
  }

  .title {
    font-size: 40px;
  }

    .trends {
      min-height: 550px;
      margin-top: 50px;
    }
  
    .trend {
      display: flex;
      flex-wrap: wrap;
      min-height: 500px;
    }
  
    .trend1 {
      width: 49.8%;
      height: 247px;
    }
  
    .trend2 {
      width: 49.8%;
      height: 247px;
    }
  
    .trend3 {
      width: 49.8%;
      height: 247px;
      margin-top: 5px;
    }
  
    .trend4 {
      width: 49.8%;
      height: 247px;
      margin-top: 5px;
    }
  
    .content {
      margin-top: 50px;
      display: flex;
    }
  
    .post-list {
      flex-direction: column;
    }
  
    .post-info {
      width: 100%;
      margin-top: 10px;
      margin-left: 0;
    }

    .post-info:after {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 14px;
      margin: auto;
      
      border-bottom : 4px solid #eeeeee;
      font-weight: normal;
    }

    .shop {
      flex-wrap: wrap;
    }

    .shop-item:nth-child(n+3) {
      margin-top: 20px;
    }

    .frame-shop {
      margin-top: -35px;
      margin-left: -20px;
      margin-right: -20px;
    }

    .popup {
      align-items: flex-start;
      padding-top: 90px;
    }

    .btn-close {
      width: 25px;
      height: 30px;
    }

    .popup-conteiner {
      width: 360px;
    }

}

@media (max-width: 767px) {
  header {
    padding-bottom: 210px;

    background: url("../images/banner-mobile.jpg") left bottom no-repeat;
    background-size: cover;
  }

  .header-menu {
    display: flex;
    justify-content: center;
  }

  .logo {
    text-align: center;
    max-width: 270px;
    margin-top: 150px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .header-burger {
    position: absolute;
    right: 0;
  }

  .title {
    font-size: 26px;
    margin-top: 40px;
    max-width: 280px;
  }

  .trends {
    min-height: 1100px;
    margin-top: 40px;
  }

  .trend {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    min-height: 935px;
  }

  .trend1 {
    width: 100%;
    height: 230px;
  }

  .trend2 {
    width: 100%;
    height: 230px;
    margin-top: 3px;
  }

  .trend3 {
    width: 100%;
    height: 230px;
    margin-top: 3px;
  }

  .trend4 {
    width: 100%;
    height: 230px;
    margin-top: 3px;
  }

  .inside-trend {
    max-height: 200px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 17px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }

  .frame-trend {
    padding-top: 14px;
  }

  .frame-trend a {
    font-size: 16px;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
  }

  .post {
    width: 100%;
  }

  .post-img {
    width: 100%;
  }

  .post-list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .post-info {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .post-info:after {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 14px;
    margin: auto;
    
    border-bottom : 4px solid #eeeeee;
    font-weight: normal;
  }

  .side-bar {
    width: 100%;
    margin-left: 0;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .tags-item li:nth-child(8) {
    margin-right: 0;
  }

  .shops-title {
    font-size: 16px;
  }

  .shop {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 25px;
  }

  .shop-item {
    margin-right: 0;
  }

  .shop-item:nth-child(n+2) {
    margin-top: 20px;
  }

  .btn-close {
    width: 30px;
    height: 30px;
  }
  
  .popup-conteiner {
    width: 330px;
  }
}